@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Unbounded", sans-serif;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
.ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 5s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%); /* Start fully off-screen to the right */
  }
  100% {
    transform: translateX(calc(100% - var(--text-width)));
  }
}

.slick-track {
  display: flex;
  align-items: center;
  gap: 8px;
}
